version: "3"

services:
  php:
    build: ./docker
    container_name: fioi-task-importer-php
    expose:
      - "9000"
    volumes:
      - ./:/var/www/fioi-task-importer
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
  nginx:
    image: nginx:1.25
    container_name: fioi-task-importer-nginx
    ports:
      - "8009:443"
    volumes:
      - ./:/var/www/fioi-task-importer
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docker/certs:/etc/nginx/certs:ro
    depends_on:
      - php
    restart: unless-stopped
