div.container-iframe {
    padding: 0px !important;
    margin: 0px !important;
}

.form-group.form-group-full,
.form-group.form-group-full .input-group,
.form-group.form-group-full .form-control {
    width: 100%;
}

.form-group.form-group-full .input-group-addon {
    width: 1%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.edition-div {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.edition-header-actions,
.edition-header-editing {
    flex: 0 0 auto;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.edition-header>div {
    flex-basis: 49%;
}

.edition-header-left {
    position: relative;
    flex-shrink: 1;
    line-height: 26px;
    font-size: 16px;
}

.edition-header-right {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
}

.edition-error-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.edition-error-header>div {
    flex: 1 0 25%;
    margin: 10px;
}

.edition-iframe-div {
    flex: 1 0 50%;
}

.edition-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.edition-old-version {
    color: red;
}

.edition-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.edition-overlay-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.edition-history,
.edition-save,
.edition-publish,
.edition-merge {
    position: relative;
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    overflow-x: hidden;
}

.edition-history {
    overflow-y: auto;
}

.edition-history-master {
    display: inline-block;
    background-color: lightblue;
    font-weight: bold;
    padding: 1px 3px;
    border-radius: 3px;
}

.edition-history-current {
    display: inline-block;
    background-color: lightgreen;
    font-weight: bold;
    padding: 1px 3px;
    border-radius: 3px;
}

.edition-history-table td {
    padding: 2px;
    vertical-align: top;
}

.edition-history-log-current {
    background-color: lightgreen;
}

.edition-fm {
    position: absolute;
    top: 32px;
    left: 0px;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 600px;
    height: 600px;
    max-height: 80vh;
    max-width: 90vw;
    overflow: auto;
}

.edition-fm-tree {
    margin-top: 8px;
}

.treeview-children {
    margin-left: 20px;
}

.treeview-item {
    display: flex;
    justify-content: space-between;
}

.treeview-item:hover {
    background-color: rgb(214, 236, 242);
}

.treeview-item.treeview-item-uploaded {
    background-color: lightgreen;
    font-weight: bold;
}

.treeview-item.treeview-item-uploaded input {
    background-color: lightgreen;
}

.treeview-item-name {
    flex: 1 1 auto;
}

.treeview-item-name input {
    border-radius: 2px;
    width: 100%;
}

.treeview-item-buttons {
    flex: 0 0 auto;
    text-align: right;
}

.edition-save-publish {
    padding-left: 16px;
}

.edition-status-icon.fa-check {
    color: green;
}

.edition-status-icon.fa-sync {
    -webkit-animation-name: fa-spin;
    animation-name: fa-spin;
    -webkit-animation-duration: var(--fa-animation-duration, 2s);
    animation-duration: var(--fa-animation-duration, 2s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing, linear);
    animation-timing-function: var(--fa-animation-timing, linear)
}

.edition-status-icon.fa-circle-exclamation {
    color: orange;
}

.edition-input-red {
    border: 2px solid red;
}

.edition-publish-title {
    font-size: 1.5em;
    font-weight: bold;
}

.edition-publish-or {
    font-size: 1.5em;
    font-weight: bold;
    margin: 16px;
}

.pseudo-prime-button {
    display: inline-block;
    border-radius: 0.75em;
    border: 0.0625em solid #ccc;
    height: 1.8em;
    padding: 0.2em 1em;
    font-size: 16px;
    line-height: 24px;
    background: none;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s;
}

.pseudo-prime-button.ppb-basic {
    border-color: rgb(238, 238, 238);
    color: rgb(97, 111, 130);
}

.pseudo-prime-button.ppb-basic:hover {
    background: rgb(238, 238, 238);
}

.pseudo-prime-button.ppb-primary {
    border-color: rgb(15, 97, 255);
    background: rgb(15, 97, 255);
    color: white;
}

.pseudo-prime-button.ppb-primary:hover {
    background: rgb(0, 71, 212);
}

.pseudo-prime-button.ppb-warning {
    border-color: #ff6600;
    background: #ff6600;
    color: white;
}

.pseudo-prime-button.ppb-warning:hover {
    background: #cc4400;
    color: white;
}

.pseudo-prime-button .fas {
    font-size: 0.9em;
}

.ppb-bar {
    line-height: 36px;
}

.simple-button {
    display: inline-block;
    border-radius: 0.75em;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    transition: color 0.5s, background-color 0.5s;
}

.simple-button:hover {
    color: rgb(0, 71, 212);
    background-color: #ddd;
}

.pseudo-prime-button.ppb-basic .fas,
.simple-button .fas {
    color: rgb(15, 97, 255);
}

.simple-button.simple-button-danger .fas {
    color: red;
}