<div class="edition-div">
    <div class="edition-header-actions">
        <div class="edition-header-left">
            Contribute to the next version of this content
            <div class="simple-button" ng-click="editionInfo()"><span class="fas fa-circle-info"></span></div>
        </div>
        <div class="edition-header-right ppb-bar">
            <button class="pseudo-prime-button ppb-basic" ng-click="editionHistory()">History <span class="fas fa-clock"></span></button>
            <button class="pseudo-prime-button ppb-basic" ng-disabled="edition.saving" ng-click="editionPublish()">Submit <span class="fas fa-code-pull-request"></span></button>
            <button class="pseudo-prime-button ppb-basic" ng-disabled="edition.saving" ng-click="editionMerge()">
                Publish
                <span ng-show="edition.history.masterAdditional">({{ edition.history.masterAdditional }} behind production)</span>
                <span class="fas fa-code-merge"></span>
            </button>
            <a class="pseudo-prime-button ppb-basic" href="{{ edition.externalUrl }}" target="_blank">
                View on
                <span ng-show="edition.isGitlab">GitLab</span>
                <span ng-show="!edition.isGitlab">GitHub</span>
                <span class="fas fa-arrow-up-right-from-square"></span>
            </a>
        </div>
    </div>
    <div class="edition-header-editing">
        <div class="edition-header-left">
            <div>
                <span class="fas fa-pen"></span>
                Editing {{ edition.target }}
                <span class="edition-old-version" ng-show="edition.oldVersion">(editing previous version {{ edition.oldVersion }})</span>
                <div class="pseudo-prime-button" ng-class="edition.fileManager ? 'ppb-primary' : 'ppb-basic'" ng-click="editionFileManager()">
                    Files
                    <span class="fas" ng-class="edition.fileManager ? 'fa-square-caret-down' : 'fa-folder-tree'"></span>
                </div>
            </div>
            <div class="edition-fm" ng-show="edition.fileManager">
                <div class="edition-fm-add">
                    <button class="pseudo-prime-button ppb-basic" ng-click="editionFmAddFile()"><span class="fas fa-plus"></span> Add file</button>
                    <input type="file" id="edition-fm-add-input" onchange="angular.element(this).scope().editionFmUpload()" style="display: none;">
                </div>
                <div class="edition-fm-tree">
                    <treeview node="edition.fileManager.root"></treeview>
                </div>
            </div>        
        </div>
        <div class="edition-header-right">
            <button class="pseudo-prime-button" ng-disabled="edition.saving" ng-click="editionSave()" ng-class="edition.lastCommits.curEditor != edition.lastCommits.origEditor ? 'ppb-warning' : 'ppb-primary'">
                Save
                <span ng-show="edition.lastCommits.curEditor != edition.lastCommits.origEditor">
                    (<span class="fas fa-exclamation-triangle"></span> out of sync)
                </span>
                <span class="fas fa-floppy-disk"></span> 
            </button>
            <button class="pseudo-prime-button ppb-warning" ng-click="editionRevert()">Cancel <span class="fas fa-clock-rotate-left"></span></button>
        </div>
    </div>
    <div ng-show="edition.ready" class="edition-iframe-div">
        <iframe id="edition-iframe" class="edition-iframe" src="{{ edition.editorUrl }}"></iframe>
    </div>
    <div class="edition-overlay" ng-show="edition.infoShow || edition.history.show || edition.saveInfo.show || edition.publishInfo.show || edition.mergeInfo.show">
        <div class="edition-save" ng-show="edition.infoShow">
            <div class="edition-overlay-close" ng-click="closeEditionPopup()">
                <span class="fas fa-xmark"></span>
            </div>
            <h3><span class="fas fa-circle-info"></span> Contributing</h3>
            <hr>
            <p>
                This interface allows you to contribute to the next version of this content. Through this interface, you can edit the content and submit your changes for review.
            </p>
            <p>
                When editing, your changes are saved separately into an "edition version", separate from the production version. When you're done, submit your changes, so they can be approved by an administrator.
            </p>
            <p>
                If you are an administrator, you may publish directly your changes to production.
            </p>
        </div>
        <div class="edition-history" ng-show="edition.history.show">
            <div class="edition-overlay-close" ng-click="closeEditionPopup()">
                <span class="fas fa-xmark"></span>
            </div>
            <h3><span class="fas fa-clock"></span> History</h3>
            <p class="ppb-bar">
                <button class="pseudo-prime-button ppb-warning" ng-click="closeEditionPopup()">Cancel <span class="fas fa-xmark"></span></button>
                <button class="pseudo-prime-button" ng-click="editionHistoryRestore()" ng-class="edition.history.selected != edition.history.editedHash && 'ppb-primary' || 'ppb-basic'" ng-disabled="edition.history.selected == edition.history.editedHash">Edit selected version <span class="fas fa-pen"></span></button>
                <button class="pseudo-prime-button" ng-click="editionHistoryRestore(true)" ng-class="edition.oldVersion && 'ppb-primary' || 'ppb-basic'" ng-disabled="!edition.oldVersion">Return to latest version <span class="fas fa-clock-rotate-left"></span></button>
                <a class="pseudo-prime-button ppb-basic" href="{{ makeDiffUrl(edition.history.selected, 'commit') }}" target="_blank">View selected commit <span class="fas fa-magnifying-glass"></span></a>
                <button class="pseudo-prime-button ppb-basic" ng-click="makeDiffUI(edition.history.selected, 'master')">View diff with published version <span class="fas fa-code-compare"></span></button>
                <button class="pseudo-prime-button ppb-basic" ng-click="makeDiffUI(edition.history.selected, 'editor')">View diff with edition version <span class="fas fa-code-compare"></span></button>
            </p>
            <p ng-show="edition.historyAdditional">
                <b>Note : Published version has {{ edition.history.masterAdditional }} more commits than the edition branch.</b>
            </p>
            <p ng-show="edition.history.loading">
                <span class="fas fa-spinner fa-spin"></span> Loading history...
            </p>
            <hr ng-show="edition.history.fetchDiffStatus">
            <p ng-show="edition.history.fetchDiffStatus">
                <span class="fas fa-code-compare"></span> Differences between <b>{{ edition.history.fetchDiffSelected }}</b> and <b>{{ edition.history.fetchDiffTarget }}</b> :
            </p>
            <p ng-show="edition.history.fetchDiffStatus == 'loading'">
                <span class="fas fa-spinner fa-spin"></span> Loading git diff...
            </p>
            <p ng-show="edition.history.fetchDiffStatus == 'error'">
                <span class="fas fa-triangle-exclamation"></span> Error loading git diff.
            </p>
            <p ng-show="edition.history.fetchDiffStatus == 'none'">
                <span class="fas fa-circle-info"></span> There are no differences between these two versions.
            </p>
            <button class="pseudo-prime-button" ng-show="edition.history.fetchDiffStatus && edition.history.fetchDiffStatus != 'loading'" ng-click="closeDiffUI()"><span class="fas fa-xmark"></span> Close diff</button>
            <div ng-show="edition.history.fetchDiffStatus == 'success'" id="diff2html"></div>
            <button class="pseudo-prime-button" ng-show="edition.history.fetchDiffStatus == 'success'" ng-click="closeDiffUI()"><span class="fas fa-xmark"></span> Close diff</button>
            <hr ng-show="edition.history.fetchDiffStatus">
            <table class="edition-history-table" ng-hide="edition.history.loading">
                <tbody>
                    <tr class="edition-history-log" ng-repeat="log in edition.history.allCommits" ng-class="edition.history.editedHash == log.hash ? 'edition-history-log-current' : ''">
                        <td>
                            <span ng-show="log.fromMaster">&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" ng-model="edition.history.selected" ng-value="log.hash" />
                            <span ng-show="log.master" class="fas fa-arrow-turn-up"></span>
                        </td>
                        <td>
                            <div ng-show="log.fromMaster" class="edition-history-master">only in production</div>
                            <div ng-show="log.master" class="edition-history-master">published version</div>
                        </td>
                        <td>
                            {{ log.date }}
                        </td>
                        <td>
                            {{ log.message }}
                            <i ng-show="log.master && edition.history.masterAdditional"><br>&#8618; {{ edition.history.masterAdditional }} more commits from there in production version</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="edition-save" ng-show="edition.saveInfo.show">
            <div class="edition-overlay-close" ng-click="closeEditionPopup()">
                <span class="fas fa-xmark"></span>
            </div>
            <h3><span class="fas fa-save"></span> Saving changes</h3>
            <hr>
            <div class="alert alert-warning" ng-show="edition.lastCommits.curEditor != edition.lastCommits.origEditor">
                <b>Warning : modifications have been made in the editor version since you opened the editor. Please check the history and make sure you are not overwriting any changes, or they will be lost.</b>
            </div>
            <p>Please enter a short commit message describing your changes :</p>
            <p>
                <input type="text" class="form-control" id="edition-save-message" ng-model="edition.saveInfo.commitMessage" placeholder="Message" style="width: 400px;" maxlength="160" ng-class="edition.saveInfo.commitMessage ? '' : 'edition-input-red'" />
            </p>
            <p class="ppb-bar">
                <button class="pseudo-prime-button ppb-primary" ng-click="editionDoSave()"><span class="fas fa-save"></span> Save draft</button>
                <button class="pseudo-prime-button ppb-warning" ng-click="closeEditionPopup()"><span class="fas fa-xmark"></span> Cancel</button>
            </p>
            <p ng-show="edition.saveInfo.doSave && !edition.saveInfo.committed">
                <span class="fas fa-spinner fa-spin"></span> Saving...
            </p>
            <p ng-show="edition.saveInfo.committed">
                <span class="fas fa-check"></span> Saved!
            </p>
            <hr>
            <p ng-show="edition.saveInfo.masterCommits.length">
                <b>Production version has {{ edition.saveInfo.masterCommits.length }} more commits than the edition branch :</b>
            </p>
            <table class="edition-history-table" ng-show="edition.saveInfo.masterCommits">
                <tbody>
                    <tr class="edition-history-log" ng-repeat="log in edition.saveInfo.masterCommits">
                        <td>
                            {{ log.date }}
                        </td>
                        <td>
                            {{ log.message }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="edition-publish" ng-show="edition.publishInfo.show">
            <div class="edition-overlay-close" ng-click="closeEditionPopup()">
                <span class="fas fa-xmark"></span>
            </div>
            <h3><span class="fas fa-code-pull-request"></span> Submitting modifications</h3>
            <hr>
            <p>
                Your modifications will be sent to administrators for review. They will need to validate them before publication.
            </p>
            <p>
                <input type="radio" id="edition-publish-type-pr" ng-model="edition.publishType" value="pr" />
                <label for="edition-publish-type-pr">Create the submission for me</label>
                <br>
                <i>This will create a pull request on your behalf.</i>
            </p>
            <div ng-show="edition.publishType == 'pr'">
                <div class="form-group">
                    <label for="edition-publish-pr-title">Title of the submission</label><br>
                    <input type="text" class="form-control" id="edition-publish-pr-title" ng-model="edition.publishInfo.prTitle" placeholder="Title" maxlength="160" />
                </div>
                <div class="form-group">
                    <label for="edition-publish-pr-body">Description of the submission</label><br>
                    <textarea class="form-control" id="edition-publish-pr-body" ng-model="edition.publishInfo.prBody" placeholder="Description"></textarea>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>
                <input type="radio" id="edition-publish-type-mpr" ng-model="edition.publishType" value="mpr" />
                <label for="edition-publish-type-mpr">
                    Advanced : Let me create the pull request myself with
                    <span ng-show="edition.isGitlab">GitLab</span>
                    <span ng-show="!edition.isGitlab">GitHub</span>
                </label>
                <br>
                <i>You will need your own credentials. This will allow you to create the pull request in your own name, and customize it.</i>
            </p>
            <hr>
            <p class="ppb-bar">
                <button class="pseudo-prime-button ppb-primary" ng-click="editionDoPublish()">Submit for review <span class="fas fa-code-pull-request"></span></button>
                <button class="pseudo-prime-button ppb-warning" ng-click="closeEditionPopup()">Cancel <span class="fas fa-xmark"></span></button>
            </p>
            <p ng-show="edition.publishInfo.publishing">
                <span class="fas fa-spinner fa-spin"></span> Submitting...
            </p>
            <p ng-show="edition.publishInfo.done">
                <b><span class="fas fa-check"></span> Submitted!</b>
            </p>
            <p ng-show="edition.publishInfo.mprUrl">
                Please create your pull request from this link : <a href="{{ edition.publishInfo.mprUrl }}" target="_blank">{{ edition.publishInfo.mprUrl }}</a>
            </p>
            <p ng-show="edition.publishInfo.prUrl">
                Your pull request has been created : <a href="{{ edition.publishInfo.prUrl }}" target="_blank">{{ edition.publishInfo.prUrl }}</a>
            </p>
            <p ng-show="edition.publishInfo.error">
                <span class="fas fa-exclamation-triangle"></span> An error occured.
            </p>
            <hr>
            <p ng-show="edition.publishInfo.commits.length">
                <b>Submitting {{ edition.publishInfo.commits.length }} commits :</b>
            </p>
            <table class="edition-history-table" ng-show="edition.publishInfo.commits">
                <tbody>
                    <tr class="edition-history-log" ng-repeat="log in edition.publishInfo.commits">
                        <td>
                            {{ log.date }}
                        </td>
                        <td>
                            {{ log.message }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="edition-merge" ng-show="edition.mergeInfo.show">
            <div class="edition-overlay-close" ng-click="closeEditionPopup()">
                <span class="fas fa-xmark"></span>
            </div>
            <h3><span class="fas fa-code-merge"></span> Publishing {{ edition.path }}</h3>
            <hr>
            <p>
                <b>You must have administrator rights over this content, and provide your credentials, to publish.</b>
            </p>
            <hr>
            <p>
                <input type="radio" id="edition-publish-type-prod" ng-model="edition.publishType" value="prod" />
                <label for="edition-publish-type-prod">Publish directly to production</label>
                <br>
                <i>
                    This will publish your changes directly to production, merging them. You will need to provide credentials with rights to push onto the repository.
                    You can obtain credentials from
                    <span ng-show="edition.isGitlab">
                        <a href="https://gitlab.com/-/profile/personal_access_tokens" target="_blank">this page on GitLab</a>
                    </span>
                    <span ng-show="!edition.isGitlab">
                        <a href="https://github.com/settings/tokens" target="_blank">this page on GitHub</a>
                    </span>
                    if you have an account on the website.
                </i>

            </p>
            <p>
                <input type="radio" id="edition-publish-type-merge" ng-model="edition.publishType" value="merge" />
                <label for="edition-publish-type-merge">Fetch production changes</label>
                <br>
                <i>This will only fetch the changes from the production version into the editor version, allowing you to resume edition from a version updated with the latest modifications put into production.</i>
            </p>
            <hr>
            <div>
                <div class="form-group">
                    <label for="gitUsername" ng-i18next="label_git_username"></label><br>
                    <input type="text" class="form-control" id="gitUsername" name="gitUsername" ng-model="params.gitUsername">
                </div>
                <div class="form-group form-group-full">
                    <label for="gitPassword" ng-i18next="label_git_password"></label><br>
                    <input type="password" class="form-control" id="gitPassword" name="gitPassword" ng-model="params.gitPassword">
                </div>
            </div>        
            <hr>
            <p class="ppb-bar">
                <button class="pseudo-prime-button ppb-primary" ng-click="editionDoMerge()">Publish <span class="fas fa-upload"></span></button>
                <button class="pseudo-prime-button ppb-warning" ng-click="closeEditionPopup()">Cancel <span class="fas fa-xmark"></span></button>
            </p>
            <p ng-show="edition.mergeInfo.merging">
                <span class="fas fa-spinner fa-spin"></span> Merging...
            </p>
            <p ng-show="edition.mergeInfo.done">
                <b><span class="fas fa-check"></span> Merged!</b>
            </p>
            <p ng-show="edition.mergeInfo.error">
                <span class="fas fa-exclamation-triangle"></span> An error occured. Please check your credentials.
            </p>
            <p ng-show="edition.mergeInfo.showImport">
                You may now import the changes to production :
                <button class="pseudo-prime-button ppb-primary" ng-click="editionDoImport()">Import <span class="fas fa-download"></span></button>
            </p>
            <hr>
            <p ng-show="edition.mergeInfo.commits.length">
                <b>Publishing {{ edition.mergeInfo.commits.length }} commits :</b>
            </p>
            <table class="edition-history-table" ng-show="edition.mergeInfo.commits">
                <tbody>
                    <tr class="edition-history-log" ng-repeat="log in edition.mergeInfo.commits">
                        <td>
                            {{ log.date }}
                        </td>
                        <td>
                            {{ log.message }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <p ng-show="edition.mergeInfo.commitsMaster.length">
                <b>Production has {{ edition.mergeInfo.commitsMaster.length }} additional commits :</b>
            </p>
            <table class="edition-history-table" ng-show="edition.mergeInfo.commitsMaster">
                <tbody>
                    <tr class="edition-history-log" ng-repeat="log in edition.mergeInfo.commitsMaster">
                        <td>
                            {{ log.date }}
                        </td>
                        <td>
                            {{ log.message }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>