<h1 ng-i18next="page_maintitle"></h1>
<div style="float: right;">
  <span ng-i18next="language"></span> :
  <select ng-model="options.lang" ng-change="changeLang();">
    <option value="en" selected>English</option>
    <option value="fr">Français</option>
  </select>
</div>
<p ng-i18next="page_description"></p>
<form class="form-inline" role="form" id="svn_form">
  <div class="row">
    <div id="form_cont" class="col-xs-12 col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 ng-i18next="panel_svn"></h4>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li ng-class="repoType == 'svn' ? 'active' : ''"><a ng-click="switchType('svn');">SVN</a></li>
            <li ng-class="repoType == 'git' ? 'active' : ''"><a ng-click="switchType('git');">Git</a></li>
          </ul>
          <div ng-show="repoType == 'svn'">
            <div class="form-group form-group-full">
              <label for="svnUrl" ng-i18next="label_svnurl"></label><br>
              <div class="input-group">
                <span class="input-group-addon" style="font-weight:bold;" id="svnBaseUrl">{{ svnBaseUrl }}</span>
                <input type="text" class="form-control" id="svnUrl" name="svnUrl" ng-model="params.svnUrl">
              </div>
            </div><br>
            <div class="form-group">
              <label for="svnRev" ng-i18next="label_svnrev"></label><br>
              <input type="text" class="form-control" name="svnRev" ng-model="params.svnRev">
            </div><br>
            <div class="form-group" ng-class="loginRequired && !params.username && 'has-error'" ng-show="!params.token">
              <label for="username" class="control-label" ng-i18next="label_username"></label><br>
              <input type="text" class="form-control" name="username" ng-model="params.username">
            </div><br>
            <div class="form-group" ng-class="loginRequired && !params.password && 'has-error'" ng-show="!params.token">
              <label for="password" class="control-label" ng-i18next="label_password"></label><br>
              <input type="password" class="form-control" name="password" ng-model="params.password">
            </div><br>
            <div class="checkbox" ng-show="!params.token">
              <input type="checkbox" name="remember" ng-model="params.remember"> <span ng-i18next="label_remember"></span>
            </div><br ng-show="!params.token">
            <div class="form-group" ng-show="params.token">
              <label for="removeTokenBtn" ng-i18next="label_token"></label><br>
              <button name="removeTokenBtn" class="form-control" name="removeTokenBtn" ng-click="removeToken();" ng-i18next="label_token_remove"></button>
            </div><br ng-show="params.token">
          </div>
          <div ng-show="repoType == 'git'">
            <div class="form-group form-group-full">
              <label for="gitUrl" ng-i18next="label_giturl"></label><br>
              <input type="text" class="form-control" id="gitUrl" name="gitUrl" placeholder="https://github.com/..." ng-model="params.gitUrl" value="https://github.com/France-ioi/bebras-tasks">
            </div><br>
            <div class="form-group form-group-full">
              <label for="gitPath" ng-i18next="label_gitpath"></label><br>
              <input type="text" class="form-control" name="gitPath" placeholder="path/to/task/" ng-model="params.gitPath" value="module_testing/test-responsive-interface">
            </div><br>
            <div class="form-group form-group-full">
              <label for="gitUsername" ng-i18next="label_username"></label><br>
              <input type="text" class="form-control" id="gitUsername" name="gitUsername" ng-model="params.gitUsername">
            </div><br>
            <div class="form-group form-group-full">
              <label for="gitPassword" ng-i18next="label_password"></label><br>
              <input type="password" class="form-control" id="gitPassword" name="gitPassword" ng-model="params.gitPassword">
            </div><br>
            <div class="checkbox">
              <input type="checkbox" name="gitRemember" ng-model="params.gitRemember"> <span ng-i18next="label_remember"></span>
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 ng-i18next="panel_options"></h4>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <input type="checkbox" name="recursive" ng-model="params.recursive"> <span ng-i18next="label_recimport"></span>
          </div><br>
          <div class="checkbox">
            <input type="checkbox" name="noimport" ng-model="params.noimport"> <span ng-i18next="label_noimport"></span>
          </div><br>
          <div class="checkbox">
            <input type="checkbox" name="rewritecommon" ng-model="params.rewritecommon"> <span ng-i18next="label_rewritecommon"></span>
          </div><br>
          <div class="form-group">
            <label for="optLocale" ng-i18next="label_locale_en"></label><br>
            <select class="form-control" id="optLocale" ng-model="params.localeEn">
              <option value="default" ng-i18next="default" selected></option>
              <option value="gb" ng-i18next="locale_gb"></option>
              <option value="us" ng-i18next="locale_us"></option>
            </select>
          </div><br>
          <div class="form-group">
            <label for="optTheme" ng-i18next="label_theme_lti"></label><br>
            <select class="form-control" id="optTheme" ng-model="params.theme">
              <option value="none" ng-i18next="none" selected></option>
              <option value="funtelecom">Telecom</option>
            </select>
          </div><br><br>
          <button class="btn btn-default btn-sm" ng-i18next="label_save_options" ng-click="saveParams();" ng-disabled="getParamsDisabled();"></button>
        </div>
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="checkout();" ng-disabled="disableBtn" ng-i18next="[value]label_submit"></input>
  <input type="submit" class="btn btn-default" ng-click="updateCommon();" ng-disabled="disableBtn" ng-i18next="[value]label_update_common;[title]label_update_common_title"></input>
</form>
<hr />
<div ng-if="checkoutState" class="alert alert-info">
  <b><span ng-i18next="{{ checkoutState }}"></span> <span ng-if="checkoutMsg" ng-i18next="{{ checkoutMsg }}"></span></b>
  <span ng-if="tasksRemaining.length">
    <br />{{ tasksRemaining.length }} <span ng-i18next="display_tasks_left"></span>
  </span>
</div>
<div ng-repeat="log in logList" ng-include="getTemplate(log)">
</div>
<div ng-if="nbOldLogs">
  <button ng-if="hideOldLogs" class="btn btn-primary" ng-click="toggleOldLogs();" style="width: 100%;">{{ nbOldLogs }} <span ng-i18next="display_nboldlogs"></span> <span class="glyphicon glyphicon-chevron-down"></span></button>
  <button ng-if="!hideOldLogs" class="btn btn-primary" ng-click="toggleOldLogs();" style="width: 100%;"><span ng-i18next="display_hideoldlogs"></span> <span class="glyphicon glyphicon-chevron-up"></span></button>
</div>

<iframe ng-if="curTaskUrl" style="width:1px; height:1px;" id="taskIframe" src="{{ curTaskUrl }}"></iframe>
