<div class="panel" ng-class="{'panel-danger': log.active && log.error, 'panel-primary': log.active && !log.error, 'panel-default': !log.active, 'hidden': !log.active && hideOldLogs}">
  <div class="panel-heading">
    <h3 class="panel-title">{{ log.url }} <small ng-show="log.svnRev">(rev {{ log.svnRev }})</small></h3>
  </div>
  <div class="panel-body">
    <p ng-if="log.ltiUrl"><b ng-i18next="task_ltiurl"></b>: <a href="{{ makeUrl(log.ltiUrl, log.urlArgs) }}" target="_blank">{{ makeUrl(log.ltiUrl, log.urlArgs, null, true) }}</a></p>
    <ul ng-if="log.foundLangs.length > 1">
      <li ng-repeat="taskLang in log.foundLangs"><span ng-i18next="task_ltiurl_lang"></span> {{ taskLang }} : <a ng-href="{{ makeUrl(log.ltiUrl, log.urlArgs, taskLang, true) }}" target="_blank">{{ makeUrl(log.ltiUrl, log.urlArgs, taskLang, true) }}</a></li>
    </ul>
    <p ng-if="log.normalUrl"><b ng-i18next="task_normalurl"></b>: <a href="{{ makeUrl(log.normalUrl, log.urlArgs) }}" target="_blank">{{ makeUrl(log.normalUrl, log.urlArgs) }}</a></p>
    <div ng-if="log.tokenUrl && log.foundLangs.length <= 1">
      <p><a class="btn btn-default" href="{{ log.tokenUrl }}" target="_blank" ng-i18next="task_test"></a> <i ng-i18next="task_test_description"></i></p>
    </div>
    <div ng-if="log.tokenUrl && log.foundLangs.length > 1">
      <span ng-repeat="taskLang in log.foundLangs"><a class="btn btn-default" ng-href="{{ makeUrl(log.tokenUrl, log.urlArgs, taskLang) }}" target="_blank"><span ng-i18next="task_test_lang"></span> {{ taskLang }}</a> </span>
      <p><i ng-i18next="task_test_description"></i></p>
    </div>
    <hr ng-if="log.normalUrl" />
    <p ng-if="log.error" class="text-danger">
      <b><span ng-i18next="status"></span>: <span ng-i18next="{{ log.state }}"></span></b><br>
      <span ng-if="log.error !== true" ng-i18next="{{ log.error }}"></span>
    </p>
    <p ng-if="!log.error"><span ng-i18next="status"></span>: <span ng-i18next="{{ log.state }}"></span></p>
    <p ng-if="log.doubleLang" ng-i18next="task_doublelang"></p>
    <p ng-if="log.foundLangsStr"><span ng-i18next="task_langs"></span> : {{ log.foundLangsStr }}.</p>
    <hr ng-if="log.files" />
    <div ng-repeat="file in log.files">
      <p><code>{{ file.name }}</code>: <span ng-i18next="{{ file.state }}"></span></p>
      <p ng-if="file.isStatic"><span ng-i18next="display_static"></span> <a href="{{ makeUrl(file.url, log.urlArgs) }}">{{ makeUrl(file.url, log.urlArgs) }}</a></p>
      <p ng-if="file.isStatic && log.hasLti"><b ng-i18next="task_ltiurl"></b>: <a href="{{ makeLtiUrl(file.url, log.urlArgs) }}">{{ makeLtiUrl(file.url, log.urlArgs) }}</a></p>
      <p ng-if="file.warnPaths" ng-i18next="display_warnpaths"></p>
      <p ng-if="file.commonRewritten" ng-i18next="display_common_rewritten"></p>
    </div>
    <div ng-if="log.tokenUrl && !log.foundLangs">
      <p><a class="btn btn-default" ng-href="{{ makeUrl(log.tokenUrl, log.urlArgs) }}" target="_blank" ng-i18next="task_test"></a> <i ng-i18next="task_test_description"></i></p>
    </div>
  </div>
</div>
